mixin sOther()
	// start sOther
	+b.SECTION.sOther.section.section--lg.block-with-lazy#sOther&attributes(attributes)
		.container
			if block
				block
			else
				+b.section-title(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` ) 
					h2 Другие ткани бренда&nbsp;Polartec®
				
			.row(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` ) 
				mixin col(i,t,l="materila-logo.png")
					+e.col.col-xl-4.col-4(href="#")
						picture
							source( srcset=`img/@2x/webp/material-${i}.webp`)
							img.res-i(src=`img/@2x/material-${i}.jpg` loading="lazy", alt="")
						+e.logo
							img(src=`img/@2x/${l}` loading="lazy", alt="")
						+e.title=t
				+col("1",'THERMAL PRO ™')
				+col("2",'DELTA ™')
				+col("3",'Power Strech Pro ™')
				+col("4",'ASTERIA ™','materila-logo-2.png')
				+col("5",'Maestrale ™','materila-logo-2.png')
				+col("6",'FULLMOOM ™','materila-logo-2.png')
				+col("7",'ASTERIA PRO ™','materila-logo-2.png')
				+col("8",'TAVOLARA 210 ™','materila-logo-2.png')
				+col("9",'DWR M ™','materila-logo-2.png')

	// end sOther