mixin s-size-block()
	// start s-size-block
	+b.SECTION.s-size-block.section.block-with-lazy#s-size-block&attributes(attributes)
		.tabs 
			.container
				+b.s-size-block-head
					+e.row.row
						+e.item.col-lg-auto.col-6
							+e.title Для мужчин или&nbsp;женщин?
							.row.text-center.btn-wrap.tabs__caption
								+e.BUTTON.btn-head.tabs__btn.active(type="button") Для мужчин
								+e.BUTTON.btn-head.tabs__btn(type="button") Для женщин
						
						+e.item.col-lg-auto.col-6
							+e.title Верх или&nbsp;низ?
							.tabs__wrap
								mixin cont-btn(i)
									.tabs__content&attributes(attributes) 
										.row.text-center.btn-wrap.tabs-sub__caption
											+e.BUTTON.btn-head.tab-sub-js.active(type="button" data-tabs=`#tabs-${i}-1`) Верх 
											+e.BUTTON.btn-head.tab-sub-js(type="button" data-tabs=`#tabs-${i}-2`) Низ
								+cont-btn("1")(class="active")
								+cont-btn("2")
			
			mixin cont(id)
				.tabs__content-data(id=id)&attributes(attributes) 
					.container
						+b.section-title
							h2 Снимите мерки
							//- .row
							//- 	.col-auto
							//- 	.col-auto
							//- 		a.ttu.strong(href="#") Остались вопросы?
						.row
							.col-lg-7
								+pic("","img-size-1",'jpg',"0")
								//- img.res-i.lazy(src="#" src-lazy="", alt="")
							.col-lg-5
								.ttu.strong.mb-2 Обхват талии
								p  Обхват талии измеряется строго горизонтально по самой узкой части тела, проходя через самую выступающую точку живота.
						
						.row
							.col-lg-7
								+pic("","img-size-2",'jpg',"0")
								//- img.res-i.lazy(src="#" src-lazy="", alt="")
							.col-lg-5
								.ttu.strong.mb-2 Обхват груди
								p  При измерении обхвата груди лента должна плотно прилегать к телу, спереди проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, сзади обхватывая лопатки.
						+e.foot2
							h2 Определите ваш размер
							p Используйте таблицу ниже, чтобы определить размер на основе полученных мерок. Если ваши параметры соответствуют двум размерам, закажите модель меньшего размера для более плотной посадки и модель большего размера для более свободной. Если обхват груди и обхват талии соответствуют разным размерам, выберите размер, которому соответствуют параметры груди.
					+e.table-container.container
						+e.table-wrap
							table
								tr
									th Размер
									th Обхват груди (см)
									th Обхват талии (см)
									th Российские размеры
								mixin tr(t1,t2,t3,t4)
									tr
										td= t1
										td= t2
										td= t3
										td= t4
								+tr("XS/S",'86-90','74-78','44')
								+tr("S",'90-94','78-82','46')
								+tr("M",'94-198','82-86','48')
								+tr("L",'98-102','86-90','50')
								+tr("L/XL",'102-106','92-94','52')
								+tr("XL",'106-110','96-100','54')
								+tr("XXL",'110-114','106-110','56')
					//- +e.foot-wrap
					//- 	+e.foot
					//- 		.row
					//- 			.col-lg-auto.col
					//- 				+e.foot-text Не нашли интересующий вас вопрос? Задайте свой
					//- 			.col-sm-auto
					//- 				+e.btn(href="#") Задать вопрос
			+e.wrap
				.tabs__content.active
					+cont('tabs-1-1')(class="active")
					+cont('tabs-1-2') 
				.tabs__content
					+cont('tabs-2-1')
					+cont('tabs-2-2')
	// end s-size-block