- const dur= .5;
//- svg-sprite

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)
//-/ svg-sprite



//- breadcrumb
mixin breadcrumb(...items)
	nav(aria-label="breadcrumb" ).breadcrumb-slider-js.swiper-container
		ol.breadcrumb.swiper-wrapper(itemscope itemtype="http://schema.org/BreadcrumbList")
			-for (var i = 0; i < items.length; i++)
				li.breadcrumb-item.swiper-slide( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name")= items[i]
						meta(itemprop="position" content= (i + 1) )
//- /breadcrumb

		
//- pugination
mixin pugin()
	//- nav(aria-label='...')
	//- 	ul.pagination.justify-content-center
	//- 		li.page-item.disabled
	//- 			a.page-link(href='#', tabindex='-1') 
	//- 				i(class="fas fa-chevron-left")
	//- 		li.page-item.disabled
	//- 			a.page-link.d-none.d-md-block(href='#', tabindex='-1') Назад

	//- 		li.page-item
	//- 			a.page-link(href='#') 1
	//- 		li.page-item.active
	//- 			a.page-link(href='#')
	//- 				| 2 
	//- 				span.sr-only (current)
	//- 		li.page-item
	//- 			a.page-link.page-link-more(href='#') ...
	//- 		li.page-item
	//- 			a.page-link(href='#') 3

	//- 		li.page-item
	//- 			a.page-link.d-none.d-md-block(href='#') Дальше
	//- 		li.page-item
	//- 			a.page-link(href='#') 
	//- 				i(class="fas fa-chevron-right")
	.pagination-wrapper
		ul.page-numbers
			li
				span.prev.page-numbers( )
					img(src="img/svg/prev-double.svg", alt="")
			li
				span.prev.page-numbers( )
					img(src="img/svg/prev.svg", alt="")
			li
				span.page-numbers.current  1
			mixin li(n)
				li
					a.page-numbers(href='#')= n
			+li("1")
			+li("2")
			+li("3")
			+li("4") 
			li
				a.next.page-numbers(href='#')
					img(src="img/svg/next.svg", alt="")
			li
				a.next.page-numbers(href='#')
					img(src="img/svg/next-double.svg", alt="")
//- /pugination
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
//- arrow for swiper-slider
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev  
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next 
//- /arrow for swiper-slider
		
 
//- scial buttons
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="#" target="_blank")
				block
		+item()
			+icon('fb')
		
		+item()
			+icon('insta')
		
		+item()
			+icon('vk')
		
//- /scial buttons
//- WP menu
//- mixin mnu()
//- 	- var nav= { "Наши работы":"#","Цены":"#","Калькулятор":"#","Акции":"#" ,"Заказать":"#"}
//- 	ul.menu
//- 		li.menu-item.menu-item-has-children
//- 			a(href="#") О нас
//- 			ul.sub-menu
//- 				li.menu-item: a(href="#") Строительство загородных домов
//- 				li.menu-item: a(href="#") Отделка загородных домов
//- 				li.menu-item: a(href="#") Покраска деревянных домов
//- 				li.menu-item: a(href="#") Штукатурные фасады загородных домов
//- 		each linkPatch, linkName in nav
//- 			li.menu-item: a(href="#")= linkName

//- menu
mixin mnu()
	- var nav= {"Каталог":"#","О бренде":"#","Как мы работаем ":"#","В планах ":"#","Доставка и оплата":"#"," Контакты":"#"}
	+e.UL.nav
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link(href= linkPatch)= linkName
//- /menu



//- picture with lazy
mixin piclazy(bg, i, exp="jpg", media='576px')
	// picture.lazy
	picture.lazy&attributes(attributes)
		// webp images
		if media !== 0
			source(srcset="#" data-srcset=`img/@2x/webp/${i}.webp ` media=`(min-width: ${media})`, type="image/webp" )
		
			source(srcset="#" data-srcset=`img/@1x/webp/${i}.webp `  , type="image/webp")
		else
			source(srcset="#" data-srcset=`img/@2x/webp/${i}.webp `   type="image/webp" ) 
		// /webp images 
		if media !==0
			source(srcset="#" data-srcset=`img/@2x/${i}.${exp}` media=`(min-width: ${media})`, type=`image/${exp}` )
			 
			source(srcset="#" data-srcset=`img/@1x/${i}.${exp}`   type=`image/${exp}`) 
		else
			source(srcset="#" data-srcset=`img/@2x/${i}.${exp}`  type=`image/${exp}` )
		if bg == 'bg' 
			img.object-fit-js(src=`#` data-src=`img/@2x/${i}.${exp}`, alt="") 
		else
			img(src=`#` data-src=`img/@2x/${i}.${exp}`, alt="") 
	// /picture.lazy

	
mixin pic(bg, i, exp="jpg", media='576px' )
	// picture
	picture&attributes(attributes)
		// webp images
		if media !== "0"
			source(srcset=`img/@2x/webp/${i}.webp ` media=`(min-width: ${media} )`, type="image/webp" )
			// crop 2x
			source(srcset=`img/@1x/webp/${i}.webp `  type="image/webp")
		else
			source(srcset=`img/@2x/webp/${i}.webp `  type="image/webp")  
		// /webp images 
		if media !== "0"
			source(srcset=`img/@2x/${i}.${exp}` media=`(min-width:  ${media})` type=`image/${exp}` )
			// crop 2x
			source(srcset=`img/@1x/${i}.${exp}`   type=`image/${exp}`) 
	 
		if bg == 'bg' 
			img.object-fit-js(src=`img/@2x/${i}.${exp}`, alt="") 
		else 
			img(src=`img/@2x/${i}.${exp}`, alt="") 
	// /picture
		 
//- /picture with lazy
	example
	+piclazy('consult','png','bg')
	or
	+piclazy('consult','png')


 
		 
//- /picture
	example
	+piclazy('consult','png','bg')
	or
	+piclazy('consult','png')


mixin size()
	+b.FORM.sizes-block
		+e.LABEL.size-item 
			input(type="radio" name='size' checked)
			+e.SPAN.lab S
		+e.LABEL.size-item
			input(type="radio" name='size')&attributes(attributes)
			+e.SPAN.lab M
		+e.LABEL.size-item 
			input(type="radio" name='size')&attributes(attributes)
			+e.SPAN.lab L
		+e.LABEL.size-item 
			input(type="radio" name='size')&attributes(attributes)
			+e.SPAN.lab XL
mixin count-block()
	+b.count-block
		+e.btn -
		input.form-control(type="number" value="2") 
		+e.btn +


mixin basket(page, confirm, checkout)
	// +b.basket
	+b.basket
		if !confirm
			.row.align-items-center
				.col
					+e.clear-btn.small.text-secondary(href="#")  Очистить корзину
				.col-auto
					if page
						+e.clear-btn.small.text-secondary(href="#") Вернуться в каталог
					else
						+e.close-btn.toggle-basket
							+icon('close')
		mixin item(x,t)
			+e.item(class=( page=='confirm' ? "basket__item--confirm" : ''))
				.row
					div( class=(page=='confirm' ? "col-auto" : 'col-md-auto'))
						.row
							.col-auto
								if !confirm
									+e.img-wrap
										+pic('bg', 'prod-sm-'+x)
								else
									+e.img-wrap--confirm
										+pic('bg', 'prod-sm-'+x,'jpg', "0")

							if !confirm
								.col.d-md-none
									+e.title
										a.text-body.small(href="#")= t
									+e.size.ttu.small
										span.text-secondary Размер: 
										| 
										|  S

					+e.col.col
						if !confirm
							+e.delete
								+icon("delete")
						.row
							+e.col-12.col(class=( page=='confirm' ? "" : 'col-lg-4 d-none d-md-block'))
								if !checkout
									+e.title
										a.text-body.small(href="#")= t
								else
									.row
										.col
											+e.title
												a.text-body.small(href="#")= t
										.col-auto.small.d-md-none X2
							+e.col-12(class=( page=='confirm' ? "col-md-auto" : 'col-xl-7 col'))
								.row
									if !checkout
										+e.col-12(class=( page=='confirm' ? "col-lg-auto" : 'col-xl-4 col-auto d-none d-md-block'))
											+e.size.ttu.small(class=( page=='confirm' ? "pt-0" : ''))
												span.text-secondary Размер: 
												| 
												|  S
												
									.col.text-lg-left(class=( page=='confirm' ? "" : 'text-center'))
										if !confirm
											.row.align-items-center
												.col-lg-auto.col-md-12.col-auto.mb-2
													+count-block()
												.col-md.col-auto.small.mb-2 ( 3000 ₽  X2 )
												.col-lg-auto.col-md-12.col-auto.strong.mb-2 3000 ₽
										
										else
											if !checkout
												.small.mb-2 ( 3000 ₽  X2 )
												.strong.mb-2 3000 ₽
											else
												+e.size--checkout.ttu.small.d-none.d-md-block.mb-3
													span.text-secondary Размер: 
													| 
													|  S
												.row
													//- .col-12.mb-2
													.col-md-auto.col.small 
														.d-none.d-md-block.mb-2 ( 3000 ₽  X2 )
														
														+e.size--checkout.ttu.small.d-md-none(class=( page=='confirm' ? "pt-0" : ''))
															span.text-secondary Размер: 
															| 
															|  S
													.col-auto.strong.small.mb-2 3000 ₽
			// /+e.item
		+item('1','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design')
		+item('2','Футболка мужская "Даунхилл"  ')
		+item('3','Худи женское "organic design and the wooden architecture of russia"  ')
		//- +item('3','Худи женское "organic design and the wooden architecture of russia"  ')
		//- +item('3','Худи женское "organic design and the wooden architecture of russia"  ')
		//- +item('3','Худи женское "organic design and the wooden architecture of russia"  ')
		if !confirm
			+e.total
				.row.align-items-center
					if page
						.col.text-md-left.text-center
							+e.btn.btn-outline.btn-sm(href="#") Добавить товары
						.col-md-auto
							+e.total-wrap
								.container
									.row.align-items-center
										.col.strong 
											+e.SPAN.total-title Итого: 
											| 
											| 12567 ₽
										.col-auto
											+e.btn.btn-primary(href="#") Оформить заказ
					else 
						.col.strong 
							+e.SPAN.total-title Итого: 
							| 
							| 12567 ₽
						.col-md-auto
							+e.btn.btn-primary(href="#") Оформить заказ
	// /+b.basket