
mixin prod(i,t,s="sl")
	+b.item-prod()
		+e.img-wrap(href="#")
			if s == "sl"
				+pic('bg', 'prod-'+i) 
			else
				+piclazy('bg', 'prod-'+i) 
		+e.title.small= t 
		+size()
		
		+e.foot
			.strong 4567 ₽ 
			+e.btn(type="button") 
				+icon("add-basket")

mixin s-prod()
	// start s-prod
	+b.s-prod.section.block-with-lazy(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )#s-prod&attributes(attributes)
		+e.wrapper-for-arrow
			.container
				+b.section-title.text-center
					h2 Наши товары
				
				+e.slider--js.swiper-container
					.swiper-wrapper
						+e.slide.swiper-slide
							+prod('1','Футболка мужская "Даунхилл"  ')
						+e.slide.swiper-slide
							+prod('2','Худи женское "organic design and the wooden architecture of russia"  ')
						+e.slide.swiper-slide
							+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design')
							
						+e.slide.swiper-slide
							+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design')
				+arrow()

				+e.btn-more.btn-outline(href="#") Смотреть все
	// end s-prod

mixin s-prod-2(y="3")
	// start s-prod
	+b.s-prod.section.block-with-lazy#s-prod&attributes(attributes)
		.container
			block
			.row
				 
				- for (var x = 0; x < y; x++)
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('1','Футболка мужская "Даунхилл"  ',"")
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('2','Худи женское "organic design and the wooden architecture of russia"  ',"")
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design',"")
			//- +e.btn-more.btn-outline.w-100(href="#") Показать ещё 9 товаров
	// end s-prod

mixin s-prod-7()
	// start s-prod
	+b.s-prod.section.block-with-lazy#s-prod&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Другие наши предложения
			.row
				 
				- for (var x = 0; x < 2; x++)
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('1','Футболка мужская "Даунхилл"  ',"")
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('2','Худи женское "organic design and the wooden architecture of russia"  ',"")
					+e.col.col-md-4.col-6(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
						+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design',"") 
	// end s-prod

